.settings_page_wpdc_settings table.form-table {
    margin: 1em 0;
}

.settings_page_wpdc_settings .form-table th {
    width: 265px !important;
    vertical-align: middle;
}

.settings_page_wpdc_settings .form-table td, .settings_page_wpdc_settings .form-table th {
    padding-bottom: 0;
    padding-top: 5px;
}

.settings_page_wpdc_settings .delete-checkbox {
    height: auto !important;
}

.settings_page_wpdc_settings .underline {
    text-decoration: underline
}

.settings_page_wpdc_settings ul.disc-list {
    list-style: disc inside none;
}

.settings_page_wpdc_settings code, .settings_page_wpdc_settings textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 11px solid #CCCCCC;
    color: #555555;
    font-family: "Courier New", Courier, monospace, sans-serif;
    font-size: 11px;
    line-height: 1.6em;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    padding: 0.1em 0.5em 0.3em 0.7em;
    text-align: left;
    width: 93%;
}

.settings_page_wpdc_settings textarea {
    margin-top: 0;
}
